header {
    border:1px dashed;
    width:404px;
    position:fixed;
    top:7%;
    left:50%;
    margin-left:-202px;
}

body {
  border:1px dashed;
  width: 500px;
  position: relative;
  left:50%;
  margin-left:-250px;
  margin-top:200px;
}

a {
  text-decoration:none;
  color: #505050;
}

a:hover {
  color: #680000;
}

.button {
  position: relative;
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: 1px solid #505050;
	margin-left: 15px;
	margin-top: 5px;
	text-align: center;
  box-shadow: 5px 5px 5px #888888;
}

.grey {
  font-family: Arial;
  font-weight: normal;
  color: #505050;
}

#name {
  font-family: Arial;
  font-weight: normal;
  font-size:15px;
  color: #505050;
}

div p {
  position: relative;
	margin-top: 21px;
	font-size: 12px;
}

.bodyp {
  font-family:sans-serif;
  margin:-15 0 0 0;
  font-size:13px;
}

h2 {
  margin: 0 0 20 0;
  font-size:25px;
}

h3 {
  margin: 25 0 20 0;
}
